// Place all the styles related to the intro controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

body{
  background: url("/assets/images/OCSFINAL.jpg") no-repeat fixed;
  background-size: 100%;
}

h1{
  
  color: $bronze-yellow;
}