<!DOCTYPE html>
<html>
<head>
  <title>OcsFinal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  
  <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  
  <link rel="stylesheet" href="assets/font-awesome/stylesheets/font-awesome-4.3.0/css/font-awesome.min.css">
</head>
<body>
<div class="navigation">
  <ul>
    <i class="fa fa-heart"></i>
    <li>home </li>
    <i class="fa fa-heart"></i>
    <li>about</li>
    <i class="fa fa-heart"></i>
    <li>more</li>
  </ul>
</div>
<%= yield %>

</body>
</html>
